<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    {%for restaurant in data%}
        <div>
            <h3>{{restaurant[1]}}</h3> <!-- Name -->
            <ul>
                <li>{{restaurant[2]}}</li> <!-- Address -->
                <li>{{' * '.join(restaurant[4].split('&'))}}</li> <!-- Tags -->
                <li>{{restaurant[6]}}</li> <!-- Description -->
            </ul>
        </div>
    {%endfor%}
</body>
</html>
