<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    {% if data %}
        <div>{{data}}</div>
    {% endif %}

    {}
    <form action="" method="post">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="desc">desc</label>
            <input type="text" name="desc">
        </p>
        <p>
            <label for="img">img</label>
            <input type="text" name="img">
        </p>
        <p>
            <label for="address">address</label>
            <input type="text" name="address">
        </p>
        <p>
            <label for="delivery_distance">delivery_distance</label>
            <input type="text" name="delivery_distance">
        </p>
        <p>
            Check box here!
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>